<p style="color: green"><%= notice %></p>

<%= render @konkrete_abschlussarbeit %>

<div>
  <%= link_to "Edit this konkrete abschlussarbeit", edit_konkrete_abschlussarbeit_path(@konkrete_abschlussarbeit) %> |
  <%= link_to "Back to konkrete abschlussarbeits", konkrete_abschlussarbeits_path %>

  <%= button_to "Destroy this konkrete abschlussarbeit", @konkrete_abschlussarbeit, method: :delete %>
</div>
