<div id="<%= dom_id student %>">
  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Matrikelnummer:</strong>
    <%= student.matrikelnummer %>
  </p>

  <p>
    <strong>Vorname:</strong>
    <%= student.vorname %>
  </p>

  <p>
    <strong>Nachname:</strong>
    <%= student.nachname %>
  </p>

  <p>
    <strong>Geburtsdatum:</strong>
    <%= student.geburtsdatum %>
  </p>
</div>
